@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-materials: "Material Symbols Outlined", sans-serif;

    --color-primary: #2B644A;
    --color-secondary: #9BB0A5;
    --color-tertiary: #687B71;
    --color-neutral:#F8F9FA
}

[x-cloak] { display: none !important; }
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

dialog {
    border: none;
    padding: 0;
    max-width: 90vw;
    margin:auto;
    overflow: hidden;
}

#mapContainer {
    height: 350px;
    width: 100%;
    border-radius: 8px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
}

.leaflet-control-zoom {
    z-index: 2 !important;
}
        
